html{
	margin:0;
	padding:0;
}
Body{
	font-family: 'Handlee' , cursive;
	font-size:15pt;
	background-color: #efefef;
	padding: 20px;
	margin: 0;
}
h1{
	font-size: 20pt;
	color:#20bcd5;
	text-align: center;
	padding: 2px 0 2px 0;
	margin: 0	0	20px	0

}
h1 span {
	border: 8px dashed #20bcd5;
	padding: 10px
}
p{
	padding: 10;
	margin: 10;
}
p{
	padding: 10;
	margin: 10;
}
img {
	border: 1px solid #ddd;
	border-radius:30%;
	padding: 14px;
	width: 180px;
} 
section{
	background-color: #fff
	padding 30px;
	margin bottom: 10px;
	border-radius: 10px;
}
table{
	width: 100%;
}
table, th, td{
	border: 4px solid #cecece;
	border-collapse: collapse;
	text-align: center;
	table-layout: fixed;
}
selected{
	background-color: #f36f48
	font-weight: bold;
	color: blue;
}
li{
	margin bottom: 25px
	font-weight: bold;
}

progress {
	width: 70%;
	height: 20px;
	color: #3fb6b2;
	background-color: #efefef;
}
form{
	text-align: center;
	margin-top: 5;
}
h3{
	text-align: center;
}
input, textarea{
	margin bottom: 18px
	font-size:18px;
	padding: 15px 10px 10px;
	border-collapse: 4px solid #cecece
	background-color:#efefef;
	color: #787575
	border-radius: 10px;
	width: 20%;
	height: 100px
	outline: none;
}

